In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('covid_worldwide.csv')   #
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()  #removes the spaces between two words in a column and replaces it with an underscore the convert to lower

In [54]:
df.drop(['serial_number'], axis=1, inplace=True) #drops the coulumn serial number

In [55]:
df.replace({',': ''}, regex=True, inplace=True) # this removes every , in the rows

In [56]:
df.isna().sum() # gets the total nimber of null values in each column

country             0
total_cases         0
total_deaths        6
total_recovered    21
active_cases       19
total_test         18
population          3
dtype: int64

In [57]:

df = df.fillna('0') #fills the null values with 0 instead

In [58]:
col = df.columns[1:]
df[[i for i in col]] = df[[i for i in col]].astype('int64')

In [59]:
df.columns  # wala it dropped

Index(['country', 'total_cases', 'total_deaths', 'total_recovered',
       'active_cases', 'total_test', 'population'],
      dtype='object')

In [60]:
df[['total_cases', 'total_deaths', 'total_recovered', 'active_cases', 'total_test', 'population']] = df[['total_cases', 'total_deaths', 'total_recovered', 'active_cases', 'total_test', 'population']].astype('int64')

In [61]:
df

,country,total_cases,total_deaths,total_recovered,active_cases,total_test,population
0,USA,104196861,1132935,101322779,1741147,1159832679,334805269
1,India,44682784,530740,44150289,1755,915265788,1406631776
2,France,39524311,164233,39264546,95532,271490188,65584518
3,Germany,37779833,165711,37398100,216022,122332384,83883596
4,Brazil,36824580,697074,35919372,208134,63776166,215353593
...,...,...,...,...,...,...,...
226,Diamond Princess,712,13,699,0,0,0
227,Vatican City,29,0,29,0,0,799
228,Western Sahara,10,1,9,0,0,626161
229,MS Zaandam,9,2,7,0,0,0
230,Tokelau,5,0,0,5,0,1378

In [62]:
df.info() #It worked just fine again

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          231 non-null    object
 1   total_cases      231 non-null    int64
 2   total_deaths     231 non-null    int64
 3   total_recovered  231 non-null    int64
 4   active_cases     231 non-null    int64
 5   total_test       231 non-null    int64
 6   population       231 non-null    int64
dtypes: int64(6), object(1)
memory usage: 12.8+ KB

In [63]:
c = df.columns[1:]  #Normlized the data
for i in range(len(c)):
  df[c[i]] = (df[c[i]] - df[c[i]].min()) / (df[c[i]].max() - df[c[i]].min())

In [64]:
df.describe() #this just describes the data that's all

,total_cases,total_deaths,total_recovered,active_cases,total_test,population
count,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000
mean,0.028057,0.025842,0.026862,0.007625,0.025832,0.019993
std,0.090975,0.091892,0.089971,0.067060,0.097749,0.072274
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000230,0.000158,0.000119,0.000002,0.000195,0.000289
50%,0.001983,0.001734,0.001298,0.000067,0.001441,0.003918
75%,0.012439,0.012277,0.012388,0.000852,0.009902,0.015302
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [65]:
df.isna().sum()

country            0
total_cases        0
total_deaths       0
total_recovered    0
active_cases       0
total_test         0
population         0
dtype: int64

In [66]:
df['country'].nunique()

231

In [67]:
df #our data is all cleaned up and ready to be used for analysis

,country,total_cases,total_deaths,total_recovered,active_cases,total_test,population
0,USA,1.000000e+00,1.000000e+00,1.000000e+00,1.589709e-01,1.000000,2.380191e-01
1,India,4.288304e-01,4.684647e-01,4.357390e-01,1.602357e-04,0.789136,1.000000e+00
2,France,3.793234e-01,1.449624e-01,3.875194e-01,8.722298e-03,0.234077,4.662522e-02
3,Germany,3.625813e-01,1.462670e-01,3.690986e-01,1.972332e-02,0.105474,5.963437e-02
4,Brazil,3.534135e-01,6.152815e-01,3.545044e-01,1.900313e-02,0.054987,1.530988e-01
...,...,...,...,...,...,...,...
226,Diamond Princess,6.785234e-06,1.147462e-05,6.898745e-06,0.000000e+00,0.000000,0.000000e+00
227,Vatican City,2.303332e-07,0.000000e+00,2.862140e-07,0.000000e+00,0.000000,5.680236e-07
228,Western Sahara,4.798609e-08,8.826632e-07,8.882504e-08,0.000000e+00,0.000000,4.451492e-04
229,MS Zaandam,3.838887e-08,1.765326e-06,6.908614e-08,0.000000e+00,0.000000,0.000000e+00
230,Tokelau,0.000000e+00,0.000000e+00,0.000000e+00,4.565119e-07,0.000000,9.796452e-07

In [68]:
df.to_csv('cleaned_covid_worldwide.csv', index=False) #finally we saved it to a file.