#DATA CHALLENGE

This dataset was given to me as part of an ongoing(2023) twitter challenge hosted by @PromiseNonso_ and @vicSomadina
It involves just one very important aspect of Data Analytics or any data related field 'DATA CLEANING'
We were tasked to clean the data and submit using the hashtag #datachallenge

# Variable Definitions
ID: Unique identification number for each player.
Name: Player's name.
LongName: Player's full name.
photoUrl: URL to the player's photo.
playerUrl: URL to the player's profile page.
Nationality: Player's nationality.
Age: Player's age.
OVA: Overall rating of the player in the game.
POT: Potential rating of the player in the game.
Club: Current club of the player.
Contract: Player's contract details.
Positions: Player's preferred positions in the game.
Height: Player's height.
Weight: Player's weight.
Preferred Foot: Player's preferred foot for playing.
BOV: Best overall rating of the player in the game.
Best Position: Player's best position in the game.
Joined: Date when the player joined the current club.
Loan Date End: End date of the player's loan.
Value:Estimated market value of the player in Euros.
Wage: Player's weekly wage in Euros.
Release Clause Amount of money required to release the player from their contract in Euros.
Attacking: Various attacking attributes of the player, including Crossing, Finishing, Heading Accuracy, Short Passing, Volleys.
Skill: Various skill attributes of the player, including Dribbling, Curve, FK Accuracy, Long Passing, Ball Control.
Movement: Various movement attributes of the player, including Acceleration, Sprint Speed, Agility, Reactions, Balance.
Power: Various power attributes of the player, including Shot Power, Jumping, Stamina, Strength, Long Shots.
Mentality: Various mentality attributes of the player, including Aggression, Interceptions, Positioning, Vision, Penalties, Composure.
Defending: Various defending attributes of the player, including Marking, Standing Tackle, Sliding Tackle<br. Goalkeeping: Various goalkeeping attributes of the player, including GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes.
Total Stats: Total number of attributes in the game.
Base Stats: Total number of attributes that are not influenced by the player's position.
W/F: Player's weak foot rating.
SM: Player's skill moves rating.
A/W: Player's attacking work rate.
D/W: Player's defensive work rate.
IR: Player's international reputation rating.
HITS: Number of times the player has been searched for in the game.

In [334]:
import pandas as pd

In [335]:
# displaying all columns in the dataset
pd.set_option('display.max_columns', None)

#reading and displaying the dataset in pandas
df = pd.read_csv('fifa21.csv', low_memory=False)
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,"Jul 16, 2014",NaN,€120M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,"Aug 30, 2015",NaN,€129M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,"Aug 3, 2017",NaN,€132M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,595

In [336]:
# we get a little information about each column in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [337]:
# every space in between two words are changed to underscore and the uppercase changed to lowercase
df.columns = [column.replace(' ', '_').lower() for column in df.columns]

# columns with special characters are replaced
df.rename(columns={'↓ova':'ova'}, inplace= True)
df.columns

Index(['id', 'name', 'longname', 'photourl', 'playerurl', 'nationality', 'age',
       'ova', 'pot', 'club', 'contract', 'positions', 'height', 'weight',
       'preferred_foot', 'bov', 'best_position', 'joined', 'loan_date_end',
       'value', 'wage', 'release_clause', 'attacking', 'crossing', 'finishing',
       'heading_accuracy', 'short_passing', 'volleys', 'skill', 'dribbling',
       'curve', 'fk_accuracy', 'long_passing', 'ball_control', 'movement',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'power', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standing_tackle',
       'sliding_tackle', 'goalkeeping', 'gk_diving', 'gk_handling',
       'gk_kicking', 'gk_positioning', 'gk_reflexes', 'total_stats',
       'base_stats', 'w/f', 'sm', 'a/w', 'd/w', 'ir', 'pac', 'sho', 'pas',
       'dri', 'def', 'phy', 'hits'],
      dtype='object')

In [338]:
# we check for the sum of missing values in each column of the dataset
df.isna().sum()

id              0
name            0
longname        0
photourl        0
playerurl       0
             ...
pas             0
dri             0
def             0
phy             0
hits         2595
Length: 77, dtype: int64

In [339]:
# this are the columns found to be messy and will be worked on
dirty = ['hits','loan_date_end', 'ir', 'sm', 'w/f', 'value', 'release_clause', 'wage', 
         'club', 'contract','joined','height', 'weight']

df[dirty].head()

,hits,loan_date_end,ir,sm,w/f,value,release_clause,wage,club,contract,joined,height,weight
0,771,NaN,5 ★,4★,4 ★,€103.5M,€138.4M,€560K,\n\n\n\nFC Barcelona,2004 ~ 2021,"Jul 1, 2004",170cm,72kg
1,562,NaN,5 ★,5★,4 ★,€63M,€75.9M,€220K,\n\n\n\nJuventus,2018 ~ 2022,"Jul 10, 2018",187cm,83kg
2,150,NaN,3 ★,1★,3 ★,€120M,€159.4M,€125K,\n\n\n\nAtlético Madrid,2014 ~ 2023,"Jul 16, 2014",188cm,87kg
3,207,NaN,4 ★,4★,5 ★,€129M,€161M,€370K,\n\n\n\nManchester City,2015 ~ 2023,"Aug 30, 2015",181cm,70kg
4,595,NaN,5 ★,5★,5 ★,€132M,€166.5M,€270K,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"Aug 3, 2017",175cm,68kg

In [340]:
# I used lambda function to multiply the removed K by 1000
df['hits'] = df['hits'].apply(lambda x: pd.to_numeric(x[:-1], errors='coerce') * 1000 if 'K' in str(x) and '.' in str(x) else pd.to_numeric(x, errors='coerce'))

# The missing values are replaced with 0
df['hits'] = df['hits'].apply(lambda x: x if not pd.isnull(x) else "0")

# we converted to int64
df['hits'] = df['hits'].astype('int64')

In [341]:
# we created a new column name 'loan_status'
# missing values are replaced with 'on loan'
# non missing values are replaced with 'not on loan'
df['loan_status'] = df['loan_date_end'].apply(lambda x: 'not on loan' if pd.isnull(x) else 'on loan').tolist()

# The new column is added to our df
dirty.append('loan_status')

#The initial column is the deleted
dirty.remove('loan_date_end')

# we use this to display at random
df['loan_status'].sample(n=5, random_state=4)

14982        on loan
17465    not on loan
13133    not on loan
13456    not on loan
1031     not on loan
Name: loan_status, dtype: object

In [342]:
# The \n is removed from the column
df['club'] = df['club'].apply(lambda x: x.replace('\n',''))

# dispaly
df['club'].head()

0           FC Barcelona
1               Juventus
2        Atlético Madrid
3        Manchester City
4    Paris Saint-Germain
Name: club, dtype: object

In [343]:
# A new column is created 
# EVery lbs value is converted to kg 
# The kg and lbs unit is removed from the column
df['weight(kg)'] = df['weight'].apply(lambda x: x[:-2] if 'kg' in x 
                                      else pd.to_numeric(x.replace('lbs', ''), errors='coerce') * 0.454 if 'lbs' in x else x)

# the new column is added to the dataset
dirty.append('weight(kg)')

# The initial column is removed from the dirty column list
dirty.remove('weight')

# display
df['weight(kg)'].head()

0    72
1    83
2    87
3    70
4    68
Name: weight(kg), dtype: object

In [344]:
# The qoutes are removed from the column
df['height'] = df['height'].apply(lambda x: x.replace('"', ""))
df['height'] = df['height'].apply(lambda x: x.replace("'", "."))

# A new column is created while values in feet and inches are converted to cm
# The cm unit is also removed
df['height(cm)'] = df['height'].apply(lambda x: x[:-2] if 'cm' in x 
                                      else pd.to_numeric(x, errors='coerce') * 30.48)

# The column is added 
dirty.append('height(cm)')

# The old column is removed
dirty.remove('height')

# display
df['height(cm)'].head()

0    170
1    187
2    188
3    181
4    175
Name: height(cm), dtype: object

In [345]:
# I put columns having similarities in a list
money = ['value', 'wage', 'release_clause']
# I Used an iterator to iterate over each column
# every euros sign is removed
# values with M are multiplied by '1000000'
# values with K are multipled by '1000'
for r in money:
    df[r] = df[r].apply(lambda x: x[1:] if '€' in x else x)
    df[r] = df[r].apply(lambda x: pd.to_numeric(x[:-1]) * 1000000 if 'M' in x 
                        else pd.to_numeric(x[:-1]) * 1000 if 'K' in x
                        else pd.to_numeric(x, errors='coerce'))
    
    # The data type is converted to float
    df[r] = df[r].astype('float64')

# display at random
df[money].sample(n=10, random_state=4)

            value     wage  release_clause
14982    550000.0   4000.0             0.0
17465    325000.0    500.0        248000.0
13133    850000.0    700.0        580000.0
13456    130000.0    500.0        215000.0
1031   10500000.0  52000.0      17800000.0
15368    650000.0   2000.0        956000.0
9635     700000.0   3000.0        831000.0
11768   1300000.0   2000.0       1200000.0
5248    2400000.0  10000.0       4700000.0
17963    250000.0    500.0        361000.0

In [346]:
# similar columns containing stars
rating = ['ir', 'sm', 'w/f']

# Using lambda and list slicing the stars are removed
for r in df[rating]:
    df[r] = df[r].apply(lambda x: x[:-1] if '★' in x else int(x))
    
# display
df[rating].head()

   ir sm w/f
0  5   4  4
1  5   5  4
2  3   1  3
3  4   4  5
4  5   5  5

In [347]:
# We will move on to the contract column.

# Adjusting the 'contract' column to take only useful values while ignoring '~' and other words.
df['contract_starts'] = df['contract'].apply(lambda x: x[-7:] if "On Loan" in x else x[:4].strip())

# Creating a new column called 'contract_ends' and taking values from the 'contract column' to populate it
df['contract_ends'] = df['contract'].apply(lambda x: x[:-7] if "On Loan" in x else x[:] if "Free" in x else x[-4:])

# Removing the 'contract' item from the dirty list
dirty.remove('contract')

# Adding the two new items we created to the dirty data list
dirty.extend(['contract_starts', 'contract_ends'])

# display
df[['contract_starts', 'contract_ends']].sample(n=5, random_state=4)

      contract_starts  contract_ends
14982         On Loan  Jun 30, 2021
17465            2019           2022
13133            2019           2021
13456            2012           2025
1031             2020           2023

In [348]:
# This columns each consist of the sum of 5 different columns
cols = ['movement', 'skill', 'attacking', 'mentality', 'goalkeeping', 'power', 'defending']

# I used an iterator to change every value to percentage
for r in cols:
    df[r] = df[r].apply(lambda x: round((x/500) * 100), 2)

# dispaly    
df[cols].sample(n=10, random_state=4)

       movement  skill  attacking  mentality  goalkeeping  power  defending
14982        58     51         49         54           11     62         35
17465        45     32         38         38            9     51         33
13133        73     53         49         50           12     57         34
13456        68     62         53         58           10     57         31
1031         68     57         61         63            9     66         47
15368        79     53         52         49            9     50         13
9635         68     50         49         53           11     59         37
11768        78     53         58         49           10     62         11
5248         69     48         56         51           10     70         14
17963        60     43         41         47           11     51         31

In [349]:
# the columns are still stored in a list to enable name change
cols = ['movement', 'skill', 'attacking', 'mentality', 'goalkeeping', 'power', 'defending']

# for every column in cols the '(%)' was added at the end of its name
new_cols = [col + '(%)' if col in cols else col for col in df.columns]

# added to the dataset
df.columns = new_cols

In [350]:
# columns to be dropped from the dataset
drop_cols = ['contract', 'height', 'weight', 'loan_date_end']

# the columns are droped 
for r in drop_cols:
    df.drop([r], axis=1, inplace=True)

In [366]:
# Checking if there are null values in the DataFrame after cleaning
r = df.isnull().sum().to_list()
m = sum(r)
if m == 0:
    print("_No NaN Values in dataframe_")
else:
    print("NaN values exists")

_No NaN Values in dataframe_

In [355]:
# Final look of our dataset
df.head()

,id,name,longname,photourl,playerurl,nationality,age,ova,pot,club,positions,preferred_foot,bov,best_position,joined,value,wage,release_clause,attacking(%),crossing,finishing,heading_accuracy,short_passing,volleys,skill(%),dribbling,curve,fk_accuracy,long_passing,ball_control,movement(%),acceleration,sprint_speed,agility,reactions,balance,power(%),shot_power,jumping,stamina,strength,long_shots,mentality(%),aggression,interceptions,positioning,vision,penalties,composure,defending(%),marking,standing_tackle,sliding_tackle,goalkeeping(%),gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,w/f,sm,a/w,d/w,ir,pac,sho,pas,dri,def,phy,hits,loan_status,weight(kg),height(cm),contract_starts,contract_ends
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",Left,93,RW,"Jul 1, 2004",103500000.0,560000.0,138400000.0,86,85,95,70,91,88,94,96,93,94,91,96,90,91,80,91,94,95,78,86,68,72,69,94,69,44,40,93,95,75,96,18,32,35,24,11,6,11,15,14,8,2231,466,4,4,Medium,Low,5,85,92,91,95,38,65,771,not on loan,72,170,2004,2021
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,Juventus,"ST, LW",Right,92,ST,"Jul 10, 2018",63000000.0,220000.0,75900000.0,87,84,95,90,82,86,83,88,81,76,77,92,86,87,91,87,95,71,89,94,95,84,78,93,71,63,29,95,82,84,95,17,28,32,24,12,7,11,15,14,11,2221,464,4,5,High,Low,5,89,93,81,89,35,77,562,not on loan,83,187,2018,2022
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,Atlético Madrid,GK,Right,91,GK,"Jul 16, 2014",120000000.0,125000.0,159400000.0,19,13,11,15,43,13,22,12,13,14,40,30,61,43,60,67,88,49,54,59,78,41,78,12,28,34,19,11,65,11,68,11,27,12,18,87,87,92,78,90,90,1413,489,3,1,Medium,Medium,3,87,92,78,90,52,90,150,not on loan,87,188,2014,2023
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,Manchester City,"CAM, CM",Right,91,CAM,"Aug 30, 2015",129000000.0,370000.0,161000000.0,81,94,82,55,94,82,88,88,85,83,93,92,80,77,76,78,91,76,82,91,63,89,74,91,82,76,66,88,94,84,91,37,68,65,53,11,15,13,5,10,13,2304,485,5,4,High,High,4,76,86,93,88,64,78,207,not on loan,70,181,2015,2023
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,Paris Saint-Germain,"LW, CAM",Right,91,LW,"Aug 3, 2017",132000000.0,270000.0,166500000.0,82,85,87,62,87,87,90,95,88,89,81,95,91,94,89,96,91,83,71,80,62,81,50,84,71,51,36,87,90,92,93,19,35,30,29,12,9,9,15,15,11,2175,451,5,5,High,Medium,5,91,85,86,94,36,59,595,not on loan,68,175,2017,2022

This code was written and submitted by @giusmahn in participation of the data cleaning challenge.