In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Loaded the dataset into panda
df = pd.read_csv('ksdata.csv', low_memory=False)

# first four rows of the dataset
df.head()

   Kilometres  Miles
0           1   0.62
1           5   3.10
2          10   6.21
3          15   9.32
4         150  93.20

In [5]:
df.corr()

            Kilometres  Miles
Kilometres         1.0    1.0
Miles              1.0    1.0