In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('loan_prediction.csv', low_memory=False)
print('This is the dataset to be worked on:') 
df.head()

This is the dataset to be worked on:

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [59]:
print('The number of columns in the dataset is', df.shape[1], 'and the rows contain', df.shape[0], 'items.')

The number of columns in the dataset is 13 and the rows contain 614 items.

In [60]:
df.columns = [columns.lower() for columns in df.columns]
df.rename(columns={'loanamount':'loan_amount'}, inplace=True)
print(df.columns)

Index(['loan_id', 'gender', 'married', 'dependents', 'education',
       'self_employed', 'applicantincome', 'coapplicantincome', 'loan_amount',
       'loan_amount_term', 'credit_history', 'property_area', 'loan_status'],
      dtype='object')

In [61]:
df = df.drop('loan_id', axis=1)

In [62]:
df.isna().sum()

gender               13
married               3
dependents           15
education             0
self_employed        32
applicantincome       0
coapplicantincome     0
loan_amount          22
loan_amount_term     14
credit_history       50
property_area         0
loan_status           0
dtype: int64

In [63]:
mod = ['gender', 'married', 'dependents', 'self_employed', 'loan_amount_term', 'credit_history']
for r in mod:
    df[r] = df[r].fillna(df[r].mode()[0])
df['loan_amount'] = df['loan_amount'].fillna(df['loan_amount'].median())

In [65]:
print(df.isna().sum())

gender               0
married              0
dependents           0
education            0
self_employed        0
applicantincome      0
coapplicantincome    0
loan_amount          0
loan_amount_term     0
credit_history       0
property_area        0
loan_status          0
dtype: int64

In [69]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             614 non-null    object
 1   married            614 non-null    object
 2   dependents         614 non-null    object
 3   education          614 non-null    object
 4   self_employed      614 non-null    object
 5   applicantincome    614 non-null    int64
 6   coapplicantincome  614 non-null    float64
 7   loan_amount        614 non-null    float64
 8   loan_amount_term   614 non-null    float64
 9   credit_history     614 non-null    float64
 10  property_area      614 non-null    object
 11  loan_status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 62.4+ KB
None

In [66]:
print(df.describe())

       applicantincome  coapplicantincome  loan_amount  loan_amount_term  \
count       614.000000         614.000000   614.000000        614.000000
mean       5403.459283        1621.245798   145.752443        342.410423
std        6109.041673        2926.248369    84.107233         64.428629
min         150.000000           0.000000     9.000000         12.000000
25%        2877.500000           0.000000   100.250000        360.000000
50%        3812.500000        1188.500000   128.000000        360.000000
75%        5795.000000        2297.250000   164.750000        360.000000
max       81000.000000       41667.000000   700.000000        480.000000

       credit_history
count      614.000000
mean         0.855049
std          0.352339
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000